@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.DogImage {
  display: block;
  width: 280px;
  height: 280px;
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border: 1px solid transparent;
    border-top-color: rgb(70, 70, 70);
    border-radius: 50%;
    animation: spin 0.6s infinite ease-in-out;
    transition: 0.2s opacity;
  }

  figure {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    transition: 0.2s opacity;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.ImageLoaded figure {
  opacity: 1;
}
.ImageLoaded::before {
  opacity: 0;
}
